<center>
	<br>
	<a href="{% url 'login' %}"><button class="btn btn-outline-info" style="width:500px">HOA Companies</button></a><br>
	<a href="{% url 'login' %}"><button class="btn btn-outline-info" style="width:500px"> Company Database</button></a><br>
	<a href="{% url 'login' %}"><button class="btn btn-outline-info" style="width:500px">Accounting</button></a><br>
	<a href="{% url 'login' %}"><button class="btn btn-outline-info" style="width:500px">Legal</button></a><br>
	<a href="{% url 'login' %}"><button class="btn btn-outline-info" style="width:500px">Approved Vendors</button></a><br>
	<a href="{% url 'login' %}"><button class="btn btn-outline-info" style="width:500px">Bylaws</button></a><br>
	<a href="{% url 'login' %}"><button class="btn btn-outline-info" style="width:500px">Placeholder</button></a><br>
	<a href="{% url 'login' %}"><button class="btn btn-outline-info" style="width:500px">Placeholder</button></a><br>
	<a href="{% url 'login' %}"><button class="btn btn-outline-info" style="width:500px">Placeholder</button></a><br>
</center>
