Django==3.2.4
django-crispy-forms==1.9.0
django-globals==0.3.2
django-widget-tweaks==1.4.8
django-developer-panel==0.1.2
django-bootstrap-modal-forms==2.0.1
django-widget-tweaks==1.4.8
django-ckeditor==6.0.0
django-ckeditor-staticfiles==4.3.3
django-tempus-dominus==5.1.2.13 # Date/Time Picker

pyodbc==4.0.32
python-dotenv==0.14.0
Jinja2==2.11.2

#django-okta-auth==0.8.0
#slack_sdk==3.4.0
