{% extends "base.html" %}
{% block content %}
	<h1>About</h1>
	<article class="media content-section">
	  <div class="media-body">
	  	<ul>
	    	<li class="list-group-item list-group-item-light">

	    		<h4>The Villas</h4>
	    		At Villas on Lake Oswego, you've discovered your new place. The 97034 location in Lake Oswego has much to offer its residents. The leasing team is waiting to show you all that this community has to offer. Schedule a time to check out the current floorplan options. Come be a part of Villas on Lake Oswego. Contact or drop by the leasing office to check the current floorplan availability.<br>
	    		<br>
	    		<h4>Lake Oswego</h4>
	    		Less than ten miles south of Portland along the Willamette River, Lake Oswego is suburban community characterized by lush greenery and a first-rate personality all its own. The local school district has been recognized as among the best in the nation, the crime rate is low, and the League of American Bicyclists has named Lake Oswego one of the most bike-friendly communities in Oregon (which is saying something).

				The lake itself is surrounded by gorgeous homes and old-growth evergreens, and large parks and nature preserves are never far away. The area closer to the river is a nice mix of homes and small businesses (cafes, shops, nightlife) in a highly walkable configuration, and trolley service to Portland is available from the Oak Grove Station on State Street.
	    	</li>
	    </ul>
		<div class="article-metadata">

			<center><a class="mr-2" href="#"></a></center>
			<small class="text-muted"></small>
		</div>
	  </div>
	</article>

{% endblock content %}
