{% extends "base.html" %}
{% block content %}
	<h1>About</h1>
	<article class="media content-section">
	  <div class="media-body">
	  	<ul>
	    	<li class="list-group-item list-group-item-light">

	    		<h4>Webware Solutions, LLC</h4>
				A small blurb about Webware solutions, LLC.<br>
	    		<br>
	    		<h4>OPS</h4>
				A blurb about OPS, what it is and how it works?<br>
				<br>
	    	</li>
	    </ul>
		<div class="article-metadata">

			<center><a class="mr-2" href="#"></a></center>
			<small class="text-muted"></small>
		</div>
	  </div>
	</article>

{% endblock content %}
